@import '@/styles/mixin';

.groupSection {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.groupName {
  text-align: center;
  font-size: 19px;
  font-family: MontAlter;
  margin-bottom: 12px;
}

.header,
.item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.header {
  font-weight: 800;
  background-color: #f0f0f0;
}

.position,
.team,
.points,
.games,
.wins,
.draws,
.losses,
.goalsFor,
.goalsAgainst,
.goalDifference {
  flex: 0 0 auto;
  text-align: center;
}

.position {
  width: 50px;
}

.team {
  width: 135px;
  text-align: start;
}

.points,
.games,
.wins,
.draws,
.losses,
.goalsFor,
.goalsAgainst,
.goalDifference {
  width: 80px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  text-decoration: none;
  transition: color 0.3s ease-in;

  &:hover {
    color: $light-green;
  }
}

.crest {
  width: 15px;
}

@media (max-width: 767.98px) {
  .position,
  .games,
  .points {
    width: 50px;
  }

  .wins,
  .draws,
  .losses {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .goalsFor,
  .goalsAgainst,
  .goalDifference {
    display: none;
  }
}
