@import '@/styles/mixin';

.nav_root {
  @include flex-center;
  @include container;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  padding: 10px;
}

.logo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.logoTitle {
  padding: 0;
  margin: 0;
  font-family: MontAlter;
  font-size: 24px;
}

.logoTitle:hover,
.logo_img:hover {
  cursor: pointer;
}

.menu {
  border: none;
  background-color: #fff;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.divider {
  width: 100vw;
  height: 2px;
  border-bottom: 22px solid gray;
}

.logoTitle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  animation: glitter 2s 2s;
  opacity: 0;
}

.logoTitle:hover::after {
  opacity: 1;
}

@keyframes glitter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
