@import '@/styles/mixin';

.nav_root {
  @include flex-center;
  @include container;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  padding: 10px;
}

.logo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo_img:hover {
  transform: scale(1);
  transition: all 3s ease-out;
  animation-delay: 2s;
  animation-name: logo_rotate;
  animation-duration: 1s;
  animation-direction: alternate;
}

.logoTitle {
  padding: 0;
  margin: 0;
  font-family: MontAlter;
  font-size: 24px;
}

.logoTitle:hover,
.logo_img:hover {
  cursor: pointer;
}

.menu {
  border: none;
  background-color: #fff;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.divider {
  width: 100vw;
  height: 2px;
  border-bottom: 22px solid gray;
}

@keyframes logo_rotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
