@import '@/styles/mixin';

.container {
  transition: all 0.3s ease-in;
  filter: grayscale(1);
}

.container:hover {
  filter: grayscale(0)}

.card {
  display: none;

  @media (min-width: 767.98px) {
    @include flex-center();
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    overflow: hidden;
    margin: 12px;
    padding: 20px;
    cursor: pointer;
  }
}

.crest {
  display: block;
  width: 300px;
}

.title {
  background-color: $light-grey;
  margin: 12px auto;
  padding: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.5px;

  @media (min-width: 767.98px) {
    background-color: inherit;
    margin: 0 12px;
    padding: 0;
  }
}
