@import '@/assets/styles/mixin';

.container {
  @include container;
  @include flex-center;
  padding: 20px;
}

.datePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.block,
.selected {
  min-width: 110px;
  text-align: center;
  color: $c-dark;
  padding: 10px;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, $light-grey, $light-grey, $c-primary, $c-primary);
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.block:hover {
  background-position: 100% 0;
  color: $c-light;
}

.selected {
  color: $c-light;
  background: $c-orange;
  cursor: default;
}
