@import '@/assets/styles/mixin';

.container {
  @include container;
  @include flex-center;
  padding: 20px;
}

.datePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.block,
.selected {
  min-width: 110px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $c-dark;
  color: $c-light;
  padding: 10px;
  transition: all 0.5s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.selected {
  background-color: $c-orange;
  cursor: default;
}

.block:hover {
  background-color: $c-light;
  color: $c-dark;
  border: 1px solid $c-dark;
}
