@import '@/styles/mixin';

.container {
  @include container-hh;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: 20px;
}

.wrap {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.emblem {
  max-width: 300px;
}
