.scorers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.scorersList {
  padding: 4px 10px;
}

.scorerItem {
  padding: 4px;
	text-align: end;
	display: flex;
	justify-content: space-between;
}
