@import "/src/styles/core";

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url("../../../public/images/match_bg.jpg");
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accordion__wrapper {
    margin: 20px;
    width: calc(100% - 200px);
}