@import '@/assets/styles/mixin';

.ul {
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 20;
  padding: 20px;
  background-color: $c-dark;
  border-radius: 12px 0 0 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 767.98px) {
    display: none;
  }
}

.link {
  display: block;
  font-family: Comfortaa;
  text-decoration: none;
  text-align: end;
  color: $c-light;
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: $c-orange;
  }
}

.menu {
  display: block;

  @media (min-width: 767.98px) {
    display: none;
  }
}
