@import '@/styles/mixin';

.ul {
  position: absolute;
  right: 0px;
  top: 73px;
  z-index: 20;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: 767.98px) {
    display: none;
  }
}

.li {
  color: #fff;
}

.link {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: $light-green;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.menu {
  display: block;
  @media (min-width: 767.98px) {
    display: none;
  }
}
