@import '@/assets/styles/mixin';

.homeTeam,
.awayTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 163px;
}

.homeLink,
.awayLink {
  display: flex;
  align-items: center;
  gap: 5px;
}

.awayLink {
  flex-direction: row-reverse;
}

.homeLink p,
.awayLink p {
  width: 120px;
  color: $c-dark;
}

.awayLink p {
  text-align: start;
}

.awayLink {
  flex-direction: row-reverse;
}

@media (min-width: 767.98px) {
  .awayTeam {
    flex-direction: row-reverse;
  }
  .awayLink {
    flex-direction: row;
  }
  .awayLink p {
    text-align: end;
  }
}

.figure {
  display: flex;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.img {
  width: 15px;
  height: 15px;
  padding: 0 12px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}


