.table {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.leagueList {
  padding: 4px 10px;
}

.leagueItem {
  padding: 4px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.teamLink {
  transition: 0.2s ease-in;
  padding: 0 3px;
}

.teamLink:hover {
  color: rgb(255, 5, 5);
}
