@import '@/styles/mixin';

.buttonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

.toggleBtn,
.disabled {
  padding: 12px 24px;
  color: $c-primary;
  background-color: $light-grey;
  border-radius: 8px;
  font-family: Comfortaa;
  text-transform: capitalize;
  transition: all 0.4s ease;
  cursor: pointer;
}

.toggleBtn:hover {
  background-color: $c-primary;
  color: $c-light;
}

.disabled {
  background-color: $light-grey;
  color: $c-dark;
  cursor: default;
}
