@import '@/assets/styles/mixin';

.homeTeam,
.awayTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  cursor: pointer;
}

.homeLink,
.awayLink {
  display: flex;
  align-items: center;
  gap: 16px;
}

.awayLink {
  flex-direction: row-reverse;
}

.homeTeamName,
.awayTeamName {
  font-family: Comfortaa;
  color: $c-dark;
  width: 120px;
  cursor: pointer;
}

.score,
.row {
  color: $c-dark;
}

.figure {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.img {
  width: 15px;
  height: 15px;
  padding: 0 12px;
}

@media (min-width: 529.98px) {
  .figure {
    margin: 8px auto;
  }

  .awayLink p {
    text-align: end;
  }

  .awayLink {
    flex-direction: row;
  }

  .awayTeam {
    flex-direction: row-reverse;
  }
}

@media (min-width: 767.98px) {
  .homeTeam,
  .awayTeam {
    max-width: 163px;
  }
}
