.homeTeam a:hover {
  color: red;
}

.awayTeam a:hover {
  color: blue;
}

.awayTeam,
.homeTeam {
  display: flex;
  flex-direction: row-reverse;
  transition: color 0.3s ease-in;

  @media (min-width: 567.98px) {
    flex-direction: row;
  }
}

.homeTeam {
  @media (min-width: 567.98px) {
    flex-direction: row-reverse;
  }
}

.awayLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  padding: 0;
}

@media (min-width: 567.98px) {
  .awayLink {
    padding: 14px 0;
    flex-direction: row-reverse;
  }
  .homeLink {
    padding: 14px 0;
  }
}

.homeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  text-align: start;
  gap: 5px;
}

.figure {
  display: flex;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.img {
  width: 15px;
  height: 15px;
  padding: 0 12px;
}
