
.homeTeam,
.awayTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.homeLink,
.awayLink {
  display: flex;
  align-items: center;
  gap: 5px;
}
.homeLink p,
.awayLink p {
width: 120px;

}

.awayLink {
  flex-direction: row-reverse;
}

@media (min-width: 767.98px) {
  .awayTeam {
    flex-direction: row-reverse;
  }
  .awayLink {
    flex-direction: row;
  }
}

.figure {
  display: flex;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.img {
  width: 15px;
  height: 15px;
  padding: 0 12px;
}

.row {
  display: flex;
  justify-content: center;
  min-width: 40px;
  width: 100%;
}