@import '@/assets/styles/mixin';

.squadRoot {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: 20px auto;
  background-color: $c-light;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.positionSection {
  flex: 1;
  min-width: 100%;
  max-width: 300px;
  background-color: $c-light;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media (min-width: 767.98px) {
    min-width: 230px;
  }
}

.positionTitle {
  font-size: larger;
  font-weight: bold;
  color: $c-primary;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  border-bottom: 2px solid $c-primary;
  margin-bottom: 15px;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playerLink {
  text-decoration: none;
  color: inherit;
}

.player {
  padding: 10px;
  background-color: $light-grey;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: start;
  text-wrap: balance;
  font-size: medium;
  color: $c-dark;
  transition: all 0.3s ease;

  &:hover {
    background-color: $c-primary;
    color: #fff;
    transform: translateY(-2px);
  }
}
