@import '@/assets/styles/mixin';

.scorers {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 10px;
}

.header,
.man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $c-dark;
  border-bottom: 1px solid #ccc;
  align-items: center;
  cursor: default;
}

.crest {
  width: 15px;
}

.player,
.goals,
.assists,
.played,
.penalties {
  flex: 0 0 auto;
  text-align: center;
  width: 80px;
}

.position {
  width: 50px;
}

.link,
.player {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  text-decoration: none;
  width: 205px;
  font-family: Comfortaa;
  font-size: 16px;
  text-wrap: balance;
  overflow: hidden;
  transition: all 0.3s ease;
}

.player:hover {
  color: $c-orange;
}

@media (max-width: 767.98px) {
  .position,
  .played,
  .penalties {
    display: none;
  }

  .goals,
  .assists {
    width: 50px;
  }
}

@media (max-width: 399.98px) {
  .assists {
    display: none;
  }
}
