@import '@/styles/mixin';

.table {
  @include container-sh();
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.leagueList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.leagueHeader,
.leagueItem {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.leagueHeader {
  font-weight: bold;
  background-color: #f0f0f0;
}

.position,
.team,
.points,
.games,
.wins,
.draws,
.losses,
.goalsFor,
.goalsAgainst,
.goalDifference {
  flex: 0 0 auto;
  text-align: center;
}

.position {
  width: 50px;
}

.team {
  width: 135px;
  text-align: start;
}

.points,
.games,
.wins,
.draws,
.losses,
.goalsFor,
.goalsAgainst,
.goalDifference {
  width: 80px;
}

.teamLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  text-decoration: none;
  color: #007bff;
}

.crest {
  width: 15px;
}

@media (max-width: 767.98px) {
  .position,
  .games,
  .points {
    width: 50px;
  }

  .wins,
  .draws,
  .losses {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .goalsFor,
  .goalsAgainst,
  .goalDifference {
    display: none;
  }
}
