@import "src/styles/core";

.root {
    margin: 15px 0;
    border-radius: 8px;
    background: none;
    backdrop-filter: blur(19px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.font {
    font-family: $font;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    margin: 0 50px;
}

.emblem {
    width: 30px;
    height: 30px;
    margin: -5px 30px;
}