@import '@/styles/mixin';

.form {
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  min-height: 370px;
  padding: 25px;
  margin: 0 5px;
  border: 1px solid rgb(231, 233, 237);
  border-radius: 10px;
  box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.13);
  box-sizing: border-box;
}

.invalid {
  color: red;
}

.checkbox_label {
  @include flex-center;
  font-size: 17px;
  padding: 13px;
  padding-left: 0;
}

.checkbox {
  width: 19px;
  height: 19px;
}
