@import '@/styles/mixin';

.container {
	@include container-hh;
	@include flex-center;
	flex-direction: column;
	gap: 20px;
	overflow: hidden;
	padding: 20px;
}

.card {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid red;
	box-sizing: border-box;
	cursor: default;
}

.tournament,
.teams {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.teams {
	gap: 10px;
}

.img {
	width: 25px;
	height: 25px;
	padding: 0 12px;
}

.competition,
.awayTeam a,
.homeTeam a {
	transition: color 0.3s ease-in;
}
.awayTeam,
.homeTeam {
	display:flex ;
	align-items: center;
}
.competition:hover {
	color: rgb(0, 255, 110);
}

.homeTeam a:hover {
	color: red;
}

.awayTeam a:hover {
	color: blue;
}
