@import '@/styles/mixin';

.container {
  @include container-mh;
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
}

.card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid red;
  box-sizing: border-box;
  gap: 5px;
  cursor: pointer;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  text-align: center;
}

.teams {
  gap: 10px;
}

.status {
  text-align: center;
}

.note {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}