@import '@/styles/mixin';

.container {
	@include flex-center;
	@include container-hh;
}

.leagueStats {
	display: flex;
}

.emblem {
}

.wrap {
	display: flex;
	justify-content: space-between;
}

.ul {
	cursor: default;
}

.team {
	padding: 4px;
	transition: 0.3s ease-in;
}

.team:hover {
	color: rgb(5, 118, 255);
}

.ps {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0 30px;
}
