@import '@/styles/mixin';

.root {
  position: relative;
}

.root::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: #f6f6f6;
}

.container {
  @include flex-center;
  @include container-sh;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emblem {
  max-width: 100px;
}

.toggleBtn {
  background-color: black;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  border: none;
  max-width: 250px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgb(84, 84, 84);
  }
}

.leagueStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.table,
.group {
  @include container-sh();
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.loadMoreButton {
  text-decoration: none;
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 80%;
  max-width: 250px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $primary-blue;
  }
}

.note {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}

.calendar {
  @include container-sh();
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 10px;
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted;
  gap: 10px;
  padding: 0 20px;
  @media (min-width: 767.98px) {
    flex-direction: row;
  }
}

.status,
.date {
  display: none;
  @media (min-width: 767.98px) {
    display: flex;
    flex-wrap: nowrap;
    min-width: max-content;
  }
}
