@import 'src/styles/core';

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.accordionRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.font {
    font-family: $font;
    font-size: 26px;
    cursor: pointer;
    color: #ffffff;
}

.fontMobile {
    font-family: $font;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.hometeam {
    font-family: $font;
    font-size: 26px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 8px;
    transition: color 0.3s ease-in;

}

.hometeam:hover {
    color: #92f561;
}

.awayteam {
    font-family: $font;
    font-size: 26px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 8px;
    transition: color 0.3s ease-in;
}

.awayteam:hover {
    color: #d28188;
}

.image {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.emblem {
    width: 30px;
    height: 30px;
    margin: -5px 8px;
}

.refereeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.refereeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    color: #ffffff;
}