@import '@/styles/mixin';

.main {
  @include container-mh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  text-align: left;
  overflow: hidden;
  padding: 0px;
}

.section {
  margin: 0;
  padding: 0 15px;
  text-align: left;
}

.img {
  max-width: 300px;
}
