@import '@/assets/styles/mixin';

.main {
  position: relative;
  cursor: default;
}

.main::after {
  content: '';
  position: absolute;
  background-color: $light-grey;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  @include container-mh();
  @include flex-center();
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  padding: 20px;
}
