@import '@/styles/mixin';

.rootCalendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: 767.98px) {
    gap: 5px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.match {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  border: 1px solid red;
  padding: 10px 0;

  @media (min-width: 767.98px) {
    gap: 12px;
    padding: 10px;
    border: none;
    flex-direction: row;
    justify-content: space-around;
  }
}

.matchHeader {
  display: flex;
  gap: 12px;
}

.teams {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}