@import "src/styles/core";

.welcome__root {
  width: 100%;
  min-height: 900px;
  background-image: url("../../../../../public/images/stadion.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: end;
  color: white;
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  text-align: start;
  font-family: $font;
  @include margin-auto(8px);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 48px;
  font-family: Montserrat;
  font-size: 25px;
  background-color: $invisible;
  color: white;
  border-radius: 8px;
  border: 1px solid white;

  @include margin-auto(24px);
}
.button:hover {
  background-color: $hover;
}
