@import '@/styles/mixin';

.squadRoot {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap;
  gap: 40px;
}

.positionSection {
  flex: 1;
}

.player {
  text-align: end;
}

.player ul {
  padding: 0;
}

.divider {
  width: 100%;
  border-bottom: 1px solid black;
}