@import '@/styles/mixin';

.root {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
  }
}

.container {
  @include container-hh;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @media (min-width: 767.98px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.teamLogo {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.teamEmblem {
  object-fit: cover;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  height: auto;
}
