@import '@/assets/styles/mixin';

.root {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f6f6f6 0%, #ffffff 73%, #f6f6f6 100%);
  }
}

.container {
  @include container-hh;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @media (min-width: 767.98px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.emblem {
  object-fit: cover;
  width: 200px;
}

.liked,
.notLiked {
  padding: 12px 24px;
  color: $c-dark;
  background-color: $light-grey;
  border-radius: 8px;
  font-family: Comfortaa;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    background-color: $c-primary;
    color: $c-light;
  }
}

.notLiked {
  background-color: $light-grey;
}

.toggle_section {
  padding: 12px 24px;
  color: $c-dark;
  background-color: $light-grey;
  border-radius: 8px;
  font-family: Comfortaa;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    background-color: $c-primary;
    color: $c-light;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  height: 650px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media (min-width: 767.98px) {
    overflow: hidden;
    height: auto;
  }
}

.matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
