@import '@/styles/mixin';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  min-height: 200px;
  position: relative;
  overflow: hidden; 
  cursor: default;
}

.leaguesList {
  display: flex;
  overflow: hidden;
  padding: 20px;
  white-space: nowrap; 
}

.active {
  flex-basis: 85%;
  margin: 0 10px;
  filter: grayscale(0) blur(0);
  background: radial-gradient(circle, #fff 32%, $light-green 100%);
  border-radius: 8px;
  box-shadow: 12px 8px 12px #b8b8b896;
}

.inactive {
  flex-basis: 5%;
  margin: 0 5px;
  filter: grayscale(1) blur(2px);
  background-color: $light-green;
  transition: all 0.8s ease, margin 0.8s ease;
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 8px;
}
