@import '@/assets/styles/mixin';

.features {
  @include container-sh();
  @include flex-center();
  min-height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;

  @media (min-width: 767.98px) {
    gap: 50px;
    justify-content: center;
    flex-direction: row;
  }
}
