@import '@/assets/styles/mixin';

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  @media (min-width: 767.98px) {
    width: 70%;
    align-items: flex-start;
  }
}

.title {
  font-family: Comfortaa;
  font-size: x-large;
  color: $c-dark;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @media (min-width: 767.98px) {
    width: 80%;
    gap: 5px;
    align-items: flex-start;
  }
}

.li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dotted $c-gray;
  padding: 6px 0;
  color: $c-dark;
  font-family: Comfortaa;
  cursor: default;
}

.li > span,
.link {
  font-family: Comfortaa;
  color: $c-primary;
  text-align: end;
  text-wrap: balance;
}

.link {
  transition: color 0.3s ease;

  &:hover {
    color: $c-orange;
  }
}

.competitions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $c-dark;

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
    text-wrap: balance;
    gap: 4px;
  }
}
