@import '@/styles/mixin';

.ul {
  display: none;

  @media (min-width: 767.98px) {
    @include flex-center;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.li,
.li_active {
  display: none;

  @media (min-width: 767.98px) {
    display: block;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 3px solid rgba(128, 128, 128, 0);
    transition: border 0.3s ease-in;
  }
}

.li:hover {
  border-bottom: 3px solid black;
}

.li_active {
  border-bottom: 3px solid $light-green;
}

.link {
  display: none;

  @media (min-width: 767.98px) {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: $light-green;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}
