@import '@/assets/styles/mixin';

.container {
  @include flex-center;
  @include container-hh;
  flex-wrap: wrap;
  margin: 60px auto;
}

.cardItem {
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  height: 270px;
  overflow: hidden;
  border: 1px solid rgb(255, 0, 0);
  margin: 12px;
  padding: 20px;
  cursor: pointer;
}

.competitionName {
  text-align: center;
  text-wrap: balance;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.emblem {
  object-fit: cover;
}

.table,
.group {
  @include container-sh();
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.table,
.group {
  @include container-sh();
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.loadMoreButton {
  text-decoration: none;
  text-align: center;
  background-color: $c-dark;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 80%;
  max-width: 250px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $c-orange;
  }
}
