@import '@/assets/styles/mixin';

.container {
  @include flex-center;
  @include container-mh;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 20px;
}

.cardItem {
  @include flex-center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
  height: 250px;
  overflow: hidden;
  border-radius: 12px;
  padding: 20px;
  background-color: $light-grey;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px $c-orange(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px $c-dark;
  }
}

.cardImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.area {
  width: 150%;
  font-family: Delius;
  font-style: italic;
  color: $c-light;
  background-color: $c-dark;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 4px 12px;
}
