@import '@/styles/mixin';

.root {
}

.container {
	@include flex-center;
	@include container-hh;
	flex-wrap: wrap;
	margin: 60px auto;
}
.card_item {
	@include flex-center;
	flex-direction: column;
	justify-content: space-between;
	max-width: 200px;
	height: 270px;
	overflow: hidden;
	border: 1px solid rgb(255, 0, 0);
	margin: 12px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	p {
		text-align: center;
		text-wrap: balance;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
	}
	img {
		object-fit: cover;
	}
}
