@import '@/styles/mixin';

.main {
  @include container-mh();
  text-align: center;
  padding: 20px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  gap: 40px;
  padding: 10px;
  background-color: $light-grey;
  color: $c-dark;
  text-align: start;
  transition: all 0.4s ease;

  &:hover {
    background-color: $c-orange;
    color: $c-light;
  }
}

.title {
  font-family: Comfortaa;
  font-size: x-large;
  text-align: start;
}

.emblem {
  max-width: 40px;
  width: 100%;
}

.remove {
  width: 25px;
  cursor: pointer;
}
