@mixin container() {
  max-width: 1257px;
  padding: 0px 15px;
  margin: 0 auto;
}

// high height
@mixin container-hh() {
  max-width: 1257px;
  padding: 20px 15px;
  margin: 0 auto;
  min-height: 800px;
}

//medium height
@mixin container-mh() {
  max-width: 1257px;
  padding: 0px 15px;
  margin: 0 auto;
  min-height: 650px;
}

//small height
@mixin container-sh() {
  max-width: 1257px;
  padding: 0px 15px;
  margin: 0 auto;
  min-height: 400px;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$primary-blue: #5bf6a3;
