// Fonts
$font: Montserrat Alternates !default;
$lora: Lora !default;

// Colors
$purple: #6b35b8 !default;
$green: #20a94a !default;
$red: #d0021b !default;
$dark: #161618 !default;
$hover: #456aad !default;

// Borders
$invisible: rgba(0, 0, 0, 0);
