@import '@/styles/mixin';

.ul {
  display: none;

  @media (min-width: 767.98px) {
    @include flex-center;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.li,
.li_active {
  display: none;
  font-family: Delius;
  font-size: larger;
  color: $c-dark;

  @media (min-width: 767.98px) {
    display: block;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 3px solid #80808000;
    transition: border 0.3s ease-in;
  }
}

.li:hover {
  border-bottom: 3px solid $c-dark;
}

.li_active {
  border-bottom: 3px solid $c-orange;
}

.btn > button {
  font-size: large;
}
